{% load staticfiles %}

{% include 'css.html' %}


 <div id="wrapper">
{% include 'navbar.html' %}



<iframe width="500" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=LINE&amp;containerId=googft-gviz-canvas&amp;isXyPlot=true&amp;q=select+col0%2C+col2+from+1H9YhEl8pNLfkBtCm8Kqe_xXZvat3q9mgCF8I8NQ&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=+order+by+col0+asc+limit+21&amp;width=500&amp;height=500"></iframe>

<iframe width="500" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=BAR&amp;containerId=googft-gviz-canvas&amp;isXyPlot=true&amp;q=select+col0%2C+col2+from+1H9YhEl8pNLfkBtCm8Kqe_xXZvat3q9mgCF8I8NQ&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=+limit+21&amp;width=500&amp;height=500"></iframe>






      



               


{% include 'javascript.html' %}