

{% load staticfiles %}

 <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>


<!-- leaflet -->

    <script src="{% static 'js/leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
      <script src="{% static 'js/spin.js/spin.min.js' %}"></script>
      <script src="{% static 'js/leaflet-spin/leaflet.spin.js' %}"></script>
      <script src="{% static 'js/leaflet.fusesearch.js' %}"></script>
      <script src="{% static 'js/leaflet.zoomfs.js' %}"></script>
      <script src="{% static 'js/leaflet-routing-machine.js' %}"></script>
      <script src="{% static 'js/Control.Geocoder.js' %}"></script>

      <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=OfLJAIJIG248uaq4XM2jAZcnGRUe8Afp "></script>

      <!-- leaflet -->